<body>
  <h1>Bookmarks</h1>
  <ul>
    <% @bookmarks.each do |bookmark| %>
      <li>
        <a target="_blank" href="<%= bookmark.url %>"> <%= bookmark.title %> </a>
        <br>
        <br>
        <form action="/bookmarks/<%= bookmark.id %>/update" method="get">
          <input type="submit" value="Update"/>
        </form>
        <form action="/bookmarks/<%= bookmark.id %>" method="post">
          <input type="hidden" name="_method" value="DELETE"/>
          <input type="submit" value="Delete"/>
        </form>
      </li>
    <% end %>
  </ul>
  <br>
  <br>
  <form action="/" method="get">
    <input type="submit" value="Home">
  </form>
</body>


