<h2> Delete bookmark </h2>
<br>
<br>
  <form action="/bookmarks/remove_from_index" method="post">
    <div> <label for="title">
    Enter website name
      <input type="text" name="title">
    </label></div>
<br> <input type="submit" value="Delete">
  </form></br>
</br>
</br>