<h1>Bookmark Manager</h1>
<form action="/bookmarks/index" method="get">
  <input type="submit" value="List bookmarks">
</form>
<form action="/bookmarks/new" method="get">
  <input type="submit" value="Add bookmark">
</form>