<h2> Add new bookmark </h2>
<br>
<br>
  <form action="/bookmarks/add_to_index" method="post">
    <div> <label for="url">
    Enter website link
      <input type="text" name="url">
    </label></div>
    <div> <label for="title">
    Enter website name
      <input type="text" name="title">
    </label></div>
<br> <input type="submit" value="Save">
  </form></br>
</br>
</br>